a.germany {
    font-family: "Comic Sans", 'Times New Roman', 'Times', 'serif';
}
#GERMANYLINK {
    font-family: Arial, 'Times New Roman', 'Times', 'serif';
}
a.italy {
    font-family: 'crimson pro';
}